<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
body {font-family: "Times New Roman", Georgia, Serif;}
h1,h2,h3,h4,h5,h6 {
    font-family: "Playfair Display";
    letter-spacing: 5px;
}
</style>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
    <a href="#home" class="w3-bar-item w3-button">Machine Learning with Time Series Data</a>
    <!-- Right-sided navbar links. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="#about" class="w3-bar-item w3-button">Summary</a>
      <a href="#menu" class="w3-bar-item w3-button">Analysis</a>
      <a href="#contact" class="w3-bar-item w3-button">Results</a>
    </div>
  </div>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1400px;min-width:500px" id="home">
  <img class="w3-image" src="static/images/stock_header3.jpg" alt="Hamburger Catering" width="1600" height="800">
  <div class="w3-display-bottomleft w3-padding-large w3-opacity">
    <h1 class="w3-xxlarge">Evaluating S&P 500 Stock Performace Data</h1>
  </div>
</header>

<!-- Page content -->
<div class="w3-content" style="max-width:1100px">

  <!-- About Section -->
  <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="static/images/Summary2.jpg" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">Summary</h1><br>
      <h5 class="w3-center">Predicting Stock Movement with Performance Data</h5>
      <p class="w3-large">It can be cost Intensive to the unexperienced trader to constanstly buy and sell with the dynamic changes of the Market. In this portion of the assignment, the target is to focus on price movement per quarter. We want to determine if there will be a positive( > 5%) or negative (< 5%) price movement in the subsequent quarter. If so, the trader can decide to sell, and if not, the trader can decide to hold until there is such a change.</p>
      <p class="w3-large w3-text-grey w3-hide-medium">Data Sources used are Quandl.com and Morningstar.com. Quandl’s API is used to retrieve Open, High, Low, Close, Volume data, and Morningstar’s API is used to retrieve Performance data. The data is then cleaned, Analysis is performed to select appropriate features for Machine Leaning model, and a Machine Learning Model is used to train and test data. Finally, accuracy of model is recorded.</p>
    </div>
  </div>

  <hr>

   <!-- K-Value Selection -->
  <div class="w3-row w3-padding-64" id="about">
    <h1 class="w3-center">KNN: K-Nearest Neighbors Machine Learning Algorithm</h1><br>
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <h5 class="w3-center">Selecting Best K-Value</h5>
     <img src="static/images/k_plot.jpg" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h5 class="w3-center">Breif Description</h5>
      <!--<h5 class="w3-center">Tradition since 1889</h5>-->
      <p class="w3-large">KNN is a non-parametric, unsupervised learning algorithm that doesn’t make any assumptions on the data distribution. The training phase is very minimal as no generalizations are made in the training phase. The KNN algorithm is based on feature similarity, which is why we utilize a correlation matrix to determine likeness within the features available in the dataset.</p>
    </div>
    </div>

  <!-- Menu Section -->
  <div class="w3-row w3-padding-64" id="menu">
    <h1 class="w3-center">Down Selecting Features Using Correlation Matrix</h1><br>
    <div class="w3-col l6 w3-padding-large">
      <h5 class="w3-center">Selected Features</h5>
      <h5>Total Current Assets</h5>
      <p class="w3-text-grey">The sum of cash, accounts receivable, inventory and supplies</p>

      <h5>Total Current Liabilities</h5>
      <p class="w3-text-grey">A company's debts or obligations that are due within one year</p>

      <h5>Earnings Before Interest & Tax (EBIT)</h5>
      <p class="w3-text-grey">An indicator of a company's profitability</p>

      <h5>Net Income</h5>
      <p class="w3-text-grey">A company's total earnings</p>

      <h5>Total Revenue</h5>
      <p class="w3-text-grey">A measure of how much money a company has brought in within a given period</p>

      <h5>Total Stockholders Equity</h5>
      <p class="w3-text-grey">The amount of capital given to a business by its shareholders, plus donated capital and earnings generated by the operation of the business, less any dividends issued</p>

      <h5>Market Cap Basic</h5>
      <p class="w3-text-grey">A measurement of size of a business corporation</p>
    </div>

    <div class="w3-col l6 w3-padding-large">
      <!--<h1 class="w3-center">Correlation Matrix</h1><br>-->
      <h5 class="w3-center">Correlation Matrix</h5>
      <img src="static/images/corr1_matrix.jpg" class="w3-round w3-image w3-opacity-min" alt="Menu" style="width:100%">
    </div>
  </div>

  <hr>

  <!-- Contact Section -->
  <div class="w3-container w3-padding-64" id="contact">
    <h1>Results</h1>
    <div class="w3-row w3-padding-64" id="about">
            <div class="w3-col m6 w3-padding-large w3-hide-small">
              <h5 class="w3-center">Confution Matrix</h5>
              <img src="static/images/results.jpg" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
            </div>

            <div class="w3-col m6 w3-padding-large">
              <h5 class="w3-center">Discussion</h5>
              <p class="w3-large">As we can see the KNN algorithm for prodicting stock movement, using perfomance data, is about as good as closing your eyes and selecting a stock from a bag. The greatest accuracy achieved is 50%.</p>
              <p class="w3-large w3-text-grey w3-hide-medium">In regards to the Confusion Matrix, we see that 214 stocks were accrately predicted as good while 237 were not, and 886 were accurately predicted as Bad and 700 were not.</p>
            </div>
          </div>
  </div>

<!-- End page content -->
</div>



</body>
</html>
